!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8" lang="en">
/[if IE 8] <html class="no-js lt-ie9" lang="en">
/ [if gt IE 8]><!
%html
  / <![endif]
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }

    %title Coffee Italico - Кофе и ингридиенты для вендинга
    = stylesheet_link_tag 'application', media: 'all'
    / = javascript_include_tag 'vendor/custom.modernizr'
    = csrf_meta_tags

  %body
    %section
      = link_to root_url, class: 'home' do
        = image_tag 'logo.png'
      %p
        %span
          +7
        987 59 95
        %br
        %span
          +7
        952 355 99 55
      %header
      = render 'shared/nav'
      #main
        #content
          = yield
      = render 'shared/footer'
      / Yandex.Metrika counter
      :javascript
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter22416427 = new Ya.Metrika({id:22416427,
                            clickmap:true,
                            trackLinks:true,
                            accurateTrackBounce:true});
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
      %noscript
        %div
          %img{alt: "", src: "//mc.yandex.ru/watch/22416427", style: "position:absolute; left:-9999px;"}/
      / /Yandex.Metrika counter
      / BEGIN JIVOSITE CODE {literal}
      :javascript
        (function(){ var widget_id = '90700';
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);})();
      / {/literal} END JIVOSITE CODE
  = javascript_include_tag 'application'

